@model MyWebSite.ViewModels.Account.ExternalLoginListViewModel
@using System.Linq
@using System.Web
@using Microsoft.Owin.Security

@{
    //See <a href="http://go.microsoft.com/fwlink/?LinkId=313242"> for details on setting up ASP.NET application to support logging in via external services.
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Any())
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { id = "externalLoginForm" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" id="provider" name="provider" value="Microsoft" />
        }
        <ul class="list-inline text-center mb-4">
            @foreach (AuthenticationDescription p in loginProviders)
            {
                if (p.AuthenticationType == "Microsoft")
                {
                    //<button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                    <li class="list-inline-item g-mx-2">
                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-white g-bg-skype rounded-circle" href="javascript:$('#externalLoginForm').submit();">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-skype"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-skype"></i>
                        </a>
                    </li>
                }
                else if (p.AuthenticationType == "Facebook")
                {
                    <li class="list-inline-item g-mx-2">
                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-white g-bg-facebook rounded-circle" href="javascript:void(0);">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-facebook"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-facebook"></i>
                        </a>
                    </li>
                }
                else if (p.AuthenticationType == "Twitter")
                {
                    <li class="list-inline-item g-mx-2">
                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-white g-bg-twitter rounded-circle" href="javascript:void(0);">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-twitter"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-twitter"></i>
                        </a>
                    </li>
                }
                else if (p.AuthenticationType == "googleplus")
                {
                    <li class="list-inline-item g-mx-2">
                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-white g-bg-google-plus rounded-circle" href="javascript:void(0);">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-google-plus"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-google-plus"></i>
                        </a>
                    </li>
                }
                else if (p.AuthenticationType == "linkedin")
                {
                    <li class="list-inline-item g-mx-2">
                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-white g-bg-linkedin rounded-circle" href="javascript:void(0);">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-linkedin"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-linkedin"></i>
                        </a>
                    </li>
                }
            }
        </ul>
    }
}
