<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>@ViewBag.Title - Mark Pollard Web</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    
    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/unify")

    <!-- CSS Implementing Plugins -->
    <!-- Add later
    <link rel="stylesheet" href="assets/plugins/animate.css">
    <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">-->
    @Styles.Render("~/Content/parallaxslider")
    @Styles.Render("~/Content/owlcarousel")

    <!-- CSS Theme (id should be style_color) -->
    @Styles.Render("~/Content/unifythemes")

    <!-- Can this be moved to the bottom -->
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        window.appInsights = { queue: [], applicationInsightsId: null, accountId: null, appUserId: null, configUrl: null, start: function (n) { function u(n) { t[n] = function () { var i = arguments; t.queue.push(function () { t[n].apply(t, i) }) } } function f(n, t) { if (n) { var u = r.createElement(i); u.type = "text/javascript"; u.src = n; u.async = !0; u.onload = t; u.onerror = t; r.getElementsByTagName(i)[0].parentNode.appendChild(u) } else t() } var r = document, t = this, i; t.applicationInsightsId = n; u("logEvent"); u("logPageView"); i = "script"; f(t.configUrl, function () { f("//az416426.vo.msecnd.net/scripts/a/ai.0.7.js") }); t.start = function () { } } };

        appInsights.start("a119c9ae-8fd1-48ca-81ca-bccb876e5d15");
        appInsights.logPageView();
    </script>
</head>
<body>
    <div class="wrapper">

        <div class="header">
            <!-- Topbar -->
            @{
                Html.RenderPartial("_Topbar");
            }
            <!-- End Topbar -->
            <!-- Navbar -->
            @{
                Html.RenderPartial("_Navbar");
            }
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->

        <!--=== Midbars Part ===-->
        @{
            Html.RenderPartial("_Midbars");
        }        
        <!-- End Midbars Part -->

        <!--=== Content Part ===-->
        <div class="container content">
            @RenderBody()
        </div><!--/container-->
        <!-- End Content Part -->
    
        <!--=== Footer Version 1 ===-->
        <div class="footer-default">
            <!--=== Footer ===-->
            @{
                Html.RenderPartial("_Footer");
            }
            <!--=== End Footer ===-->
            <!--=== Copyright ===-->
            @{
                Html.RenderPartial("_Copyright");
            }
            <!--=== End Copyright ===-->
        </div>
        <!--=== End Footer Version 1 ===-->

    </div><!--/wrapper-->

    <!-- JS Global Compulsory -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- JS Implementing Plugins -->
    @Scripts.Render("~/bundles/backtotop")
    @Scripts.Render("~/bundles/smoothScroll")
    @Scripts.Render("~/bundles/parallaxslider")
    @Scripts.Render("~/bundles/owlcarousel")

    <!-- JS Page Level -->
    @Scripts.Render("~/bundles/unify")
    <script type="text/javascript" src="~/Scripts/unify/pages/index.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            OwlCarousel.initOwlCarousel();
            ParallaxSlider.initParallaxSlider();
        });
    </script>
    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/respond")
        @Scripts.Render("~/bundles/html5shiv")
    <![endif]-->
    
    @RenderSection("scripts", required: false)

</body>
</html>
