<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>@ViewBag.Title - Mark Pollard Web</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    
    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/unify")

    <!-- CSS Implementing Plugins -->
    @Styles.Render("~/Content/animate")
    @Styles.Render("~/Content/boxShaddows")
    @Styles.Render("~/Content/lineIcons")
    @Styles.Render("~/Content/fontAwesome")
    @Styles.Render("~/Content/parallaxslider")
    @Styles.Render("~/Content/owlcarousel")

    <!-- CSS Theme (id should be style_color) -->
    @Styles.Render("~/Content/unifythemes")
    
    @RenderSection("styles", required: false)

    <!-- Can this be moved to the bottom -->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrapper">

        <div class="header">
            <!-- Topbar -->
            @{
                Html.RenderPartial("_Topbar");
            }
            <!-- End Topbar -->
            <!-- Navbar -->
            @{
                Html.RenderPartial("_Navbar");
            }
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->

        <!--=== Midbars Part ===-->
        @{
            Html.RenderPartial("_Midbars");
        }        
        <!-- End Midbars Part -->

        <!--=== Content Part ===-->
        @RenderBody()
        <!-- End Content Part -->
    
        <!--=== Footer Version 1 ===-->
        <div class="footer-default">
            <!--=== Footer ===-->
            @{
                Html.RenderPartial("_Footer");
            }
            <!--=== End Footer ===-->
            <!--=== Copyright ===-->
            @{
                Html.RenderPartial("_Copyright");
            }
            <!--=== End Copyright ===-->
        </div>
        <!--=== End Footer Version 1 ===-->

    </div><!--/wrapper-->

    <!-- JS Global Compulsory -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- JS Implementing Plugins -->
    @Scripts.Render("~/bundles/backtotop")
    @Scripts.Render("~/bundles/smoothScroll")
    @Scripts.Render("~/bundles/parallaxslider")
    @Scripts.Render("~/bundles/owlcarousel")

    <!-- JS Page Level -->
    @Scripts.Render("~/bundles/unify")
    <script type="text/javascript" src="~/Scripts/unify/pages/index.js"></script>
    
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            OwlCarousel.initOwlCarousel();
            ParallaxSlider.initParallaxSlider();
        });
    </script>
    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/respond")
        @Scripts.Render("~/bundles/html5shiv")
    <![endif]-->

</body>
</html>
