<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse mega-menu navbar-responsive-collapse margin-top-20">
    <div class="container">
        <ul class="nav navbar-nav">
            <!-- Home -->
            <li class="dropdown active">
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <!-- End Home -->
            <!-- Blog -->
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                    Blog
                </a>
                <ul class="dropdown-menu">
                    <!-- PowerShell Pages -->
                    <li class="dropdown-submenu">
                        <a href="javascript:void(0);">PowerShell</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("PowerShell Remoting", "ViewBlogEntry", "Blog", new { urlSlug = "PowerShellRemoting" }, null)</li>
                            <li>@Html.ActionLink("PowerShell Grep", "ViewBlogEntry", "Blog", new { urlSlug = "PowerShellGrep" }, null)</li>
                            <li>@Html.ActionLink("PowerShell Policy", "ViewBlogEntry", "Blog", new { urlSlug = "PowerShellPolicy" }, null)</li>
                        </ul>
                    </li>
                    <!-- End PowerShell Pages -->
                    <li>@Html.ActionLink("Tools", "ViewBlogEntry", "Blog", new { urlSlug = "tools" }, null)</li>
                    <li>@Html.ActionLink("Libraries", "ViewBlogEntry", "Blog", new { urlSlug = "libraries" }, null)</li>
                    <li>@Html.ActionLink("Links", "ViewBlogEntry", "Blog", new { urlSlug = "links" }, null)</li>
                </ul>
            </li>
            <!-- End Blog -->
            <!-- Pages -->
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                    Pages
                </a>
                <ul class="dropdown-menu">
                    <!-- About Pages -->
                    <li class="dropdown-submenu">
                        <a href="javascript:void(0);">About Pages</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("About Me", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact Me", "Contact", "Home")</li>
                            <li class="dropdown-submenu">
                                <a href="javascript:void(0);">About Our Team</a>
                                <ul class="dropdown-menu">
                                    <li><a target="_blank" href="#">Mark</a></li>
                                    <li><a target="_blank" href="#">Jacqueline</a></li>
                                    <li><a target="_blank" href="#">Lewis</a></li>
                                    <li><a target="_blank" href="#">Summer</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- End About Pages -->
                    <!-- Coming Soon -->
                    <li><a href="page_coming_soon.html">Coming Soon</a></li>
                    <!-- End Coming Soon -->
                    <!-- FAQs Pages -->
                    <li><a href="javascript:void(0);">FAQs</a></li>
                    <!-- End FAQs Pages -->
                    <!-- Login and Registration -->
                    <li class="dropdown-submenu">
                        <a href="javascript:void(0);">Login and Registration</a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0);">Registration Page</a></li>
                            <li><a href="javascript:void(0);">Login Page</a></li>
                            <li><a href="javascript:void(0);">Registration Option</a></li>
                            <li><a href="javascript:void(0);">Login Option</a></li>
                        </ul>
                    </li>
                    <!-- End Login and Registration -->
                    <!-- Privacy Policy -->
                    <li><a href="javascript:void(0);">Privacy Policy</a></li>
                    <!-- End Privacy Policy -->
                    <!-- Terms Of Service -->
                    <li><a href="javascript:void(0);">Terms Of Service</a></li>
                    <!-- End Terms Of Service -->
                </ul>
            </li>
            <!-- End Pages -->
            <!-- Contacts -->
            <li class="dropdown">
                <a href="javascript:void(0);">
                    Contacts
                </a>
            </li>
            <!-- End Contacts -->
            <!-- Search Block
            <li>
                <i class="search fa fa-search search-btn"></i>
                <div class="search-open">
                    <div class="input-group animated fadeInDown">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <button class="btn-u" type="button">Go</button>
                        </span>
                    </div>
                </div>
            </li>-->
            <!-- End Search Block -->
        </ul>
    </div><!--/navbar-collapse-->
</div>